<!Doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>The Button</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        

        <a id="currentUser" class="headInfo" href="#profile">Not logged in</a>
        <a id="back" class="headInfo" href="/">Back</a>

        <h1>Leaderboard</h1>
    </head>
    <body>
        <h1>WORK IN PROGRESS</h1>
    </body>
    <footer>
        <p>&copy;Andreas Sabelfeld - 2025</p>
    </footer>
</html>